[submodule "timeline"]
	path = timeline
	url = https://github.com/vjeantet/hugo-theme-projecthub
[submodule "themes/timeline"]
	path = themes/timeline
	url = https://github.com/vjeantet/hugo-theme-projecthub
